<mat-grid-list cols="6" rowHeight="fit">
  <mat-toolbar color="primary">
    <mat-grid-tile-header>
      <mat-grid-tile>
        <a routerLink="" mat-button>
          <mat-icon>shopping_cart</mat-icon>
          ShoppiCart</a>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="2">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Search the Item">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>

      <mat-grid-tile *ngIf="menuToggle">
        <button type="button" mat-button (click)="openDialog()">SignIn/SignUp</button>
      </mat-grid-tile>

      <!--Start the code for menu trigger-->
      <mat-grid-tile *ngIf="!menuToggle">
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            Profile
          </button>
          <button mat-menu-item>
            <mat-icon>shopping_basket</mat-icon>
            Orders
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu" (mouseover)="openMenu()">
          Hello User
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </mat-grid-tile>

      <!--EOL for Menu trigger code -->

      <mat-grid-tile>
        <a mat-button routerLink="/shopping_cart">
          <mat-icon matBadge="{{badgeLength}}"
                    matBadgePosition="above before"
                    matBadgeColor="accent"
                    [matBadgeHidden]="addToCartFlag">shopping_cart</mat-icon>
          Cart</a>
      </mat-grid-tile>
    </mat-grid-tile-header>
  </mat-toolbar>
</mat-grid-list>
