<div>
  <div>
    <h2 mat-dialog-title>Brand Dialog
      <!--<span class="spacer"></span>-->
      <button mat-dialog-close style="float: right;" mat-mini-fab type="button"><mat-icon>close</mat-icon></button>
    </h2>
  </div>

  <form [formGroup]="brandForm" (ngSubmit)="save()">
    <mat-dialog-content>
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Enter the Brand Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="description" placeholder="Enter the Brand Description">
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>

      <button mat-stroked-button type="submit" [disabled]="!brandForm.valid" color="primary">Save</button>
      <button mat-stroked-button type="button" (click)="clear()">Clear</button>
      <!--<button type="button" mat-button mat-dialog-close style="margin: 2px"> Close</button>-->
    </mat-dialog-actions>
  </form>
</div>
