<div *ngIf="flag">
  <mat-grid-list cols="3" rowHeight="600px">

    <!--Shopping Cart section Start-->
    <mat-grid-tile [colspan]="2">

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>MY CART {{length}}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content *ngFor="let qtyControl of qtyForm.get('quantity')['controls'];let i = index">
          <div style="display: inline-block">
            <span>
              <img [src]="imageUrl + '/images/' + cartProduct[i].product_images" height="15%" width="15%">
            </span>
            <span>
              {{cartProduct[i].product_name}}
            </span>
            <span>
              &#x20B9;{{cartProduct[i].product_price}}
            </span>
            <form [formGroup]="qtyForm">
              <span formArrayName="quantity">
              <button mat-mini-fab color="" type="submit" [disabled]="qtyForm.controls['quantity'].value[i] === 1" (click)="removeQty(i, cartProduct[i].product_qty, cartProduct[i].tblcategory.category_name)">-</button>
                <span>
                <mat-form-field appearance="outline">
                  <input matInput
                         [name]="i"
                         [formControlName]="i"
                         [(ngModel)]="qtyForm.controls['quantity'].value[i]"
                         placeholder="Quantity"
                         (keyup)="keyupQty(i, cartProduct[i].product_qty, cartProduct[i].tblcategory.category_name)"
                         type="text">
                </mat-form-field>
                  </span>
                <button mat-mini-fab color="" type="submit" (click)="addQty(i, cartProduct[i].product_qty, cartProduct[i].tblcategory.category_name)">+</button>
                </span>
            </form>
            <span>
              <a style="cursor: pointer;" (click)="removeItem(cartProduct[i].id)" mat-button>Remove</a>
            </span>
          </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="buttons">
          <button mat-stroked-button color="accent" routerLink="/">Continue Shopping</button>
          <button mat-stroked-button color="accent">Place an Order</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <!--Shopping Cart section End-->

    <!--Total Amount section Start-->
    <mat-grid-tile [colspan]="1">
      <div>
        <app-price-detail [length]="length"></app-price-detail>
      </div>
    </mat-grid-tile>
    <!--Total Amount section End-->

  </mat-grid-list>
</div>
<div *ngIf="!flag">
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-card>
      <mat-card-header>
        MY CART ({{length}})
      </mat-card-header>
      <mat-divider></mat-divider>

      <mat-card-content>
        <div class="center-image-cart">
          <img src="src/app/images/cart.png" class="empty-cart-image" width="20%" height="20%">
        </div>
      </mat-card-content>
      <div class="center-image-cart">
        Your Shopping Cart is an Empty....
      </div>
    </mat-card>
  </mat-grid-list>
</div>
