<div>
  <button mat-fab color="accent" type="button" (click)="openDialog()"><mat-icon>add</mat-icon></button>
  <!--<app-data-table></app-data-table>-->

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8 data-table">

    <!-- Brand_name Column -->
    <ng-container matColumnDef="brand_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.brand_name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
      <td mat-cell *matCellDef="let element">
        <i class="material-icons" style="cursor: pointer" matTooltipPosition="above" matTooltip="Edit" (click)="editBrand(element.id)">edit</i>
        <i class="material-icons" style="cursor: pointer" matTooltipPosition="below" matTooltip="Delete" (click)="deleteBrand(element.id)">close</i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator (page)="changePage($event)" [pageSizeOptions]="[5, 10, 20]" [length]="len" [pageSize]="5" [pageIndex]="0"></mat-paginator>
</div>
