.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.spacer{
  flex: 1 auto;
}

.logoutbutton, .home {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: white;
}
.hideButton {
  z-index: 1;
}
